body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    display: none;
}
.status{
    padding: 20px;
    border-radius: 20px;
    color: white;
    margin: 0 20px;
}
.deposit{
 background-color: blueviolet;
}
.withdrew{
    background-color: chocolate;
}
.balance{
    background-color: cornflowerblue;
}